<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yinxiang.raspberry.mapper.AirLightMapper">
    <resultMap id="AirLightMap" type="com.yinxiang.raspberry.bean.Air">
        <result column="device_id" property="device_id" />
        <result column="create_time" property="create_time" />
        <result column="luminance" property="luminance"/>
        <result column="pm2_5" property="pm2_5" />
        <result column="pm10" property="pm10" />
    </resultMap>

    <sql id="Column">
        device_id, create_time, luminance, pm2_5, pm10
    </sql>
    <!--空气质量数据的表名-->
    <sql id="Table">
        air_light
    </sql>


</mapper>