<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yinxiang.raspberry.mapper.AutoReclosingPowerProtectorMapper">
    <resultMap id="AutoReclosingPowerProtectorMap" type="com.yinxiang.raspberry.bean.AutoReclosingPowerProtector">
        <result column="device_id" property="device_id" />
        <result column="create_time" property="create_time" />
        <result column="Sta_H" property="Sta_H"/>
        <result column="Sta_L" property="Sta_L"/>
        <result column="U" property="U" />
        <result column="I" property="I" />
        <result column="Iz" property="Iz"/>
        <result column="Ie" property="Ie"/>
        <result column="Uov" property="Uov"/>
        <result column="Ulv" property="Ulv"/>
        <result column="Izset" property="Izset"/>
        <result column="CurErrCnt" property="CurErrCnt"/>
        <result column="LKErrCnt" property="LKErrCnt"/>
        <result column="VlErrCnt" property="VlErrCnt"/>
        <result column="VhErrCnt" property="VhErrCnt"/>
        <result column="VOffCnt" property="VOffCnt"/>
        <result column="Addr" property="Addr"/>
        <result column="VON_OFF" property="VON_OFF"/>
    </resultMap>

    <!--自动重合闸电源保护器的列名-->
    <sql id="Column">
        device_id, create_time, Sta_H, Sta_L, U, I, Iz, Ie, Uov, Ulv, Izset, CurErrCnt, LKErrCnt, VlErrCnt, VhErrCnt, VOffCnt, Addr, VON_OFF
    </sql>
    <!--自动重合闸电源保护器的表名-->
    <sql id="Table">
        auto_reclosing_power_protector
    </sql>

    <!--1.获取单个设备的历史重合闸数据数目-->
    <select id="findCountById" resultType="java.lang.Long" parameterType="java.lang.String">
        select count(*)
        from
        <include refid="Table"></include>
        where device_id = #{device_id}
    </select>

    <!--2.获取所有设备的历史重合闸数据数目-->
    <select id="findAllCount" resultType="java.lang.Long">
        select count(*)
        from
        <include refid="Table"></include>
    </select>

    <!--3.获取所有设备的最新重合闸数据数目-->
    <select id="findAllCountLatest" resultType="java.lang.Long">
        select count(*)
        from
        (select device_id from <include refid="Table"></include> group by device_id) a
    </select>

    <!--4.获取单个设备的历史重合闸数据并且可分页-->
    <select id="findDataByIdAndPage" resultMap="AutoReclosingPowerProtectorMap" parameterType="java.util.Map">
        select
        <include refid="Column" />
        from
        <include refid="Table"></include>
        where device_id = #{device_id}
        order by create_time desc
        limit #{currentPage},#{pageSize}
    </select>

    <!--5.获取单个设备的最新重合闸数据-->
    <select id="findLatestDataById" resultType="com.yinxiang.raspberry.bean.AutoReclosingPowerProtector" parameterType="java.lang.String">
        select
        <include refid="Column"></include>
        from
        <include refid="Table"></include>
        where device_id = #{device_id}
        order by create_time desc
        limit 1
    </select>

    <!--6.获取所有设备的历史重合闸数据并且分页-->
    <select id="findAllDataByPage" resultMap="AutoReclosingPowerProtectorMap" parameterType="java.util.Map">
        select
        <include refid="Column"></include>
        from
        <include refid="Table"></include>
        limit #{currentPage},#{pageSize}
    </select>

    <!--7.获取所有设备的最新重合闸数据并且分页-->
    <select id="findAllLatestDataByPage" resultMap="AutoReclosingPowerProtectorMap" parameterType="java.util.Map">
        select a.*
        from
        <include refid="Table"></include> a,
        (select device_id, max(create_time) as create_time from <include refid="Table"></include> group by device_id) b
        where a.create_time = b.create_time and a.device_id = b.device_id
        limit #{currentPage},#{pageSize}
    </select>

    <!--8.新增设备的重合闸数据-->
    <insert id="saveData" parameterType="com.yinxiang.raspberry.bean.AutoReclosingPowerProtector">
        insert into
        <include refid="Table"></include>
        (<include refid="Column"></include>)
        VALUES
        (#{device_id},#{create_time},#{Sta_H},#{Sta_L},#{U},#{I},#{Iz},#{Ie},#{Uov},#{Ulv},#{Izset},#{CurErrCnt},#{LKErrCnt},#{VlErrCnt},#{VhErrCnt},#{VOffCnt},#{Addr},#{VON_OFF})
    </insert>

    <!--9.修改设备的重合闸数据-->
    <update id="modifyData" parameterType="com.yinxiang.raspberry.bean.AutoReclosingPowerProtector">
        update
        <include refid="Table"></include>
        set
        <if test="create_time!=null">create_time = #{create_time},</if>
        <if test="Sta_H!=null">sta_H = #{Sta_H},</if>
        <if test="Sta_L!=null">Sta_L = #{Sta_L},</if>
        <if test="U!=null">U = #{U},</if>
        <if test="I!=null">I = #{I},</if>
        <if test="Iz!=null">Iz = #{Iz},</if>
        <if test="Ie!=null">Ie = #{Ie},</if>
        <if test="Uov!=null">Uov = #{Uov},</if>
        <if test="Ulv!=null">Ulv = #{Ulv},</if>
        <if test="Izset!=null">Izset = #{Izset},</if>
        <if test="CurErrCnt!=null">CurErrCnt = #{CurErrCnt},</if>
        <if test="LKErrCnt!=null">LKErrCnt = #{LKErrCnt},</if>
        <if test="VlErrCnt!=null">VlErrCnt = #{VlErrCnt},</if>
        <if test="VhErrCnt!=null">VhErrCnt = #{VhErrCnt},</if>
        <if test="VOffCnt!=null">VOffCnt = #{VOffCnt},</if>
        <if test="Addr!=null">Addr = #{Addr},</if>
        <if test="VON_OFF!=null">VON_OFF = #{VON_OFF}</if>
        where
        device_id = #{device_id} and create_time = #{create_time}
    </update>

    <!--10.删除设备的重合闸数据-->
    <delete id="deleteData" parameterType="java.lang.String">
        delete from
        <include refid="Table"></include>
        where
        device_id = #{device_id}
    </delete>
</mapper>