<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yinxiang.raspberry.mapper.AutoReclosingPowerProtectorMapper">
    <resultMap id="AutoReclosingPowerProtectorMap" type="com.yinxiang.raspberry.bean.AutoReclosingPowerProtector">
        <result column="device_id" property="device_id" />
        <result column="create_time" property="create_time" />
        <result column="Sta_H" property="Sta_H"/>
        <result column="Sta_L" property="Sta_L"/>
        <result column="U" property="U" />
        <result column="I" property="I" />
        <result column="Iz" property="Iz"/>
        <result column="Ie" property="Ie"/>
        <result column="Uov" property="Uov"/>
        <result column="Ulv" property="Ulv"/>
        <result column="Izset" property="Izset"/>
        <result column="CurErrCnt" property="CurErrCnt"/>
        <result column="LKErrCnt" property="LKErrCnt"/>
        <result column="VlErrCnt" property="VlErrCnt"/>
        <result column="VhErrCnt" property="VhErrCnt"/>
        <result column="VOffCnt" property="VOffCnt"/>
        <result column="Addr" property="Addr"/>
        <result column="VON_OFF" property="VON_OFF"/>
    </resultMap>

    <!--自动重合闸电源保护器的列名-->
    <sql id="Column">
        device_id, create_time, Sta_H, Sta_L, U, I, Iz, Ie, Uov, Ulv, Izset, CurErrCnt, LKErrCnt, VlErrCnt, VhErrCnt, VOffCnt, Addr, VON_OFF
    </sql>
    <!--自动重合闸电源保护器的表名-->
    <sql id="Table">
        auto_reclosing_power_protector
    </sql>

    <sql id="condition">
            <if test="Sta_H != null"> and Sta_H = #{Sta_H}</if>
            <if test="U_lessEqual != null">and U &lt;= #{U_lessEqual}</if>
            <if test="U_moreEqual != null"> and U &gt;= #{U_moreEqual}</if>
            <if test="I_lessEqual != null"> and I &lt;= #{I_lessEqual}</if>
            <if test="I_moreEqual != null"> and I &gt;= #{I_moreEqual}</if>
            <if test="Iz_lessEqual != null"> and Iz &lt;= #{Iz_lessEqual}</if>
            <if test="Iz_moreEqual != null"> and Iz &gt;= #{Iz_moreEqual}</if>
            <if test="Ie_lessEqual != null"> and Ie &lt;= #{Ie_lessEqual}</if>
            <if test="Ie_moreEqual != null"> and Ie &gt;= #{Ie_moreEqual}</if>
            <if test="Uov_lessEqual != null"> and Uov &lt;= #{Uov_lessEqual}</if>
            <if test="Uov_moreEqual != null"> and Uov &gt;= #{Uov_moreEqual}</if>
            <if test="Ulv_lessEqual != null"> and Ulv &lt;= #{Ulv_lessEqual}</if>
            <if test="Ulv_moreEqual != null"> and Ulv &gt;= #{Ulv_moreEqual}</if>
            <if test="Izset_lessEqual != null"> and Izset &lt;= #{Izset_lessEqual}</if>
            <if test="Izset_moreEqual != null"> and Izset &gt;= #{Izset_moreEqual}</if>
            <if test="CurErrCnt_lessEqual != null"> and CurErrCnt &lt;= #{CurErrCnt_lessEqual}</if>
            <if test="CurErrCnt_moreEqual != null"> and CurErrCnt &gt;= #{CurErrCnt_moreEqual}</if>
            <if test="LKErrCnt_lessEqual != null"> and LKErrCnt &lt;= #{LKErrCnt_lessEqual}</if>
            <if test="LKErrCnt_moreEqual != null"> and LKErrCnt &gt;= #{LKErrCnt_moreEqual}</if>
            <if test="VlErrCnt_lessEqual != null"> and VlErrCnt &lt;= #{VlErrCnt_lessEqual}</if>
            <if test="VlErrCnt_moreEqual != null"> and VlErrCnt &gt;= #{VlErrCnt_moreEqual}</if>
            <if test="VhErrCnt_lessEqual != null"> and VhErrCnt &lt;= #{VhErrCnt_lessEqual}</if>
            <if test="VhErrCnt_moreEqual != null"> and VhErrCnt &gt;= #{VhErrCnt_moreEqual}</if>
            <if test="VOffCnt_lessEqual != null"> and VOffCnt &lt;= #{VOffCnt_lessEqual}</if>
            <if test="VOffCnt_moreEqual != null"> and VOffCnt &gt;= #{VOffCnt_moreEqual}</if>
            <if test="Addr_lessEqual != null"> and Addr &lt;= #{Addr_lessEqual}</if>
            <if test="Addr_moreEqual != null"> and Addr &gt;= #{Addr_moreEqual}</if>
            <if test="VON_OFF_lessEqual != null"> and VON_OFF &lt;= #{VON_OFF_lessEqual}</if>
            <if test="VON_OFF_moreEqual != null"> and VON_OFF &gt;= #{VON_OFF_moreEqual}</if>
    </sql>
    <!--1.获取单个设备的历史重合闸数据数目-->
    <select id="findCountById" resultType="java.lang.Long" parameterType="java.lang.String">
        select count(*)
        from
        <include refid="Table"/>
        where device_id = #{device_id}
    </select>

    <!--2.获取所有设备的历史重合闸数据数目-->


    <!--3.获取所有设备的最新重合闸数据数目-->


    <!--4.获取单个设备的历史重合闸数据并且可分页-->
    <select id="findDataByIdAndPage" resultMap="AutoReclosingPowerProtectorMap" parameterType="java.util.Map">
        select
        <include refid="Column"/>
        from
        <include refid="Table"/>
        where device_id = #{device_id}
        order by create_time desc
        limit #{currentPage},#{pageSize}
    </select>

    <!--5.获取单个设备的最新重合闸数据-->
    <select id="findLatestDataById" resultType="com.yinxiang.raspberry.bean.AutoReclosingPowerProtector" parameterType="java.lang.String">
        select
        <include refid="Column"/>
        from
        <include refid="Table"/>
        where device_id = #{device_id}
        order by create_time desc
        limit 1
    </select>

    <!--6.获取所有设备的历史重合闸数据并且分页-->
    <select id="findAllDataByPage" resultMap="AutoReclosingPowerProtectorMap" parameterType="java.util.Map">
        select
        <include refid="Column"/>
        from
        <include refid="Table"/>
        limit #{currentPage},#{pageSize}
    </select>

    <!--7.获取所有设备的最新重合闸数据并且分页-->
    <select id="findAllLatestDataByPage" resultMap="AutoReclosingPowerProtectorMap" parameterType="java.util.Map">
        select a.*
        from <include refid="Table"/> a,
        (select device_id, max(create_time) as create_time from <include refid="Table"/> group by device_id) b, /*搜索时间最新的设备号*/
        (select id from device where area_id in (select ua.area_id from user_area ua where ua.user_id = #{user_id}))c /*搜索在用户所管区域的设备号*/
        where a.create_time = b.create_time and a.device_id = b.device_id and c.id = a.device_id
        <if test="device_id != null"> and a.device_id like CONCAT('%', #{device_id}, '%')</if>
        <include refid="condition"/>
        limit #{currentPage}, #{pageSize}
    </select>
    <select id="findAllCountLatest" resultType="java.lang.Long" parameterType="java.util.Map">
        select count(*)
        from
        (select a.*
        from <include refid="Table"/> a,
        (select device_id, max(create_time) as create_time from <include refid="Table"/> group by device_id) b, /*搜索时间最新的设备号*/
        (select id from device where area_id in (select ua.area_id from user_area ua where ua.user_id = #{user_id}))c /*搜索在用户所管区域的设备号*/
        where a.create_time = b.create_time and a.device_id = b.device_id and c.id = a.device_id
        <if test="device_id != null"> and a.device_id like CONCAT('%', #{device_id}, '%')</if>
        <include refid="condition"/>) f
    </select>


    <select id="queryOnCondition" resultMap="AutoReclosingPowerProtectorMap" parameterType="java.util.Map">
        select
        <include refid="Column"/>
        from
        <include refid="Table"/>
        <where>
            <if test="device_id != null"> device_id like CONCAT('%', #{device_id}, '%')</if>
            <include refid="condition"/>
        </where>
        order by create_time desc
        limit #{currentPage}, #{pageSize}
    </select>
    <select id="findAllCount" resultType="java.lang.Long" parameterType="java.util.Map">
        select count(*) from
        (select
        <include refid="Column"/>
        from
        <include refid="Table"/>
        <where>
            <if test="device_id != null"> device_id like CONCAT('%', #{device_id}, '%')</if>
            <include refid="condition"/>
        </where>) a
    </select>


    <!--8.新增设备的重合闸数据-->
    <insert id="saveData" parameterType="java.util.Map">
        insert into
        <include refid="Table"/>
        (<include refid="Column"/>)
        VALUES
        (#{device_id},#{create_time},#{Sta_H},#{Sta_L},#{U},#{I},#{Iz},#{Ie},#{Uov},#{Ulv},#{Izset},#{CurErrCnt},#{LKErrCnt},#{VlErrCnt},#{VhErrCnt},#{VOffCnt},#{Addr},#{VON_OFF})
    </insert>

    <!--9.修改设备的重合闸数据-->
    <update id="modifyData" parameterType="com.yinxiang.raspberry.bean.AutoReclosingPowerProtector">
        update
        <include refid="Table"/>
        set
        <if test="create_time!=null">create_time = #{create_time},</if>
        <if test="Sta_H!=null">sta_H = #{Sta_H},</if>
        <if test="Sta_L!=null">Sta_L = #{Sta_L},</if>
        <if test="U!=null">U = #{U},</if>
        <if test="I!=null">I = #{I},</if>
        <if test="Iz!=null">Iz = #{Iz},</if>
        <if test="Ie!=null">Ie = #{Ie},</if>
        <if test="Uov!=null">Uov = #{Uov},</if>
        <if test="Ulv!=null">Ulv = #{Ulv},</if>
        <if test="Izset!=null">Izset = #{Izset},</if>
        <if test="CurErrCnt!=null">CurErrCnt = #{CurErrCnt},</if>
        <if test="LKErrCnt!=null">LKErrCnt = #{LKErrCnt},</if>
        <if test="VlErrCnt!=null">VlErrCnt = #{VlErrCnt},</if>
        <if test="VhErrCnt!=null">VhErrCnt = #{VhErrCnt},</if>
        <if test="VOffCnt!=null">VOffCnt = #{VOffCnt},</if>
        <if test="Addr!=null">Addr = #{Addr},</if>
        <if test="VON_OFF!=null">VON_OFF = #{VON_OFF}</if>
        where
        device_id = #{device_id} and create_time = #{create_time}
    </update>

    <!--10.删除设备的重合闸数据-->
    <delete id="deleteData" parameterType="java.lang.String">
        delete from
        <include refid="Table"/>
        where
        device_id = #{device_id}
    </delete>
</mapper>