<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yinxiang.raspberry.mapper.DeviceIPMapper">
    <resultMap id="IpMap" type="com.yinxiang.raspberry.bean.DeviceIP">
        <result column="dev_id" property="dev_id" />
        <result column="ip" property="ip" />
    </resultMap>

    <!--IP的列名-->
    <sql id="Column">
        dev_id, ip
    </sql>

    <!--IP的表名-->
    <sql id="Table">
        ip
    </sql>

    <!--1.根据设备ID查找IP地址-->
    <select id="findIPById" resultType="com.yinxiang.raspberry.bean.DeviceIP" parameterType="java.lang.Long">
        select
        <include refid="Column" />
        FROM
        <include refid="Table"></include>
        where dev_id = #{dev_id}
    </select>

    <!--2.新增设备的IP地址-->
    <insert id="saveData" parameterType="com.yinxiang.raspberry.bean.DeviceIP" useGeneratedKeys="true" keyProperty="dev_id">
        insert into
        <include refid="Table"></include>
        (<include refid="Column"></include>)
        VALUES
        (#{dev_id},#{ip})
    </insert>

    <!--3.修改设备的IP地址-->
    <update id="modifyData" parameterType="com.yinxiang.raspberry.bean.DeviceIP">
        update
        <include refid="Table"></include>
        set
        <if test="ip!=null">
            ip = #{ip}
        </if>
        where
        dev_id = #{dev_id}
    </update>

    <!--4.删除设备的IP地址-->
    <delete id="deleteData" parameterType="java.lang.Long">
        delete from
        <include refid="Table"></include>
        where
        dev_id = #{dev_id}
    </delete>
</mapper>