<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yinxiang.raspberry.mapper.LocationMapper">
    <resultMap id="LocationMap" type="com.yinxiang.raspberry.bean.Location">
        <result column="id" property="device_id" />
        <result column="latitude" property="latitude" />
        <result column="longitude" property="longitude" />
        <result column="area_name" property="area" />
        <result column="status_name" property="status" />
    </resultMap>

    <resultMap id="AreaMap" type="com.yinxiang.raspberry.bean.Area">
        <result column="areaname" property="area_name"/>
    </resultMap>

    <!--GPS的列名-->
    <sql id="Column">
        id, latitude, longitude
    </sql>

    <!--GPS的表名-->
    <sql id="Table">
        device
    </sql>

    <!--1.获取单个设备的GPS数据-->
    <select id="findDataById" resultType="com.yinxiang.raspberry.bean.Location" parameterType="java.lang.String">
       select
        a.id as device_id, a.latitude, a.longitude, b.areaname as area, d.name as status
        from
        device a, area b, device_status c, status d
        where
        a.area_id = b.aid and a.id = c.device_id and d.id = c.status_id and a.id = #{device_id}
    </select>

    <select id="findAllArea"  resultMap="AreaMap">
        select
        areaname
        from
        area
    </select>

    <!--2.获取所有设备的GPS数据-->
    <select id="findAllData" resultMap="LocationMap">
        select
        a.id, a.latitude, a.longitude, b.areaname as area_name, d.name as status_name
        from
        device a, area b, device_status c, status d
        where
        a.area_id = b.aid and a.id = c.device_id and d.id = c.status_id
    </select>

    <select id="findDataByArea" resultMap="LocationMap" parameterType="java.lang.String">
        select
        a.id, a.latitude, a.longitude, b.areaname as area_name, d.name as status_name
        from
        device a, area b, device_status c, status d
        where
        a.area_id = b.aid and a.id = c.device_id and d.id = c.status_id and b.areaname = #{area_name}
    </select>

    <select id="getAreaByUserId" resultMap="AreaMap" parameterType="java.lang.Integer">
            select areaname from user u,area a,user_area ua where u.id = ua.user_id and a.aid = ua.area_id and u.id = #{id}
    </select>

    <select id="getDeviceByUserId" resultMap="LocationMap" parameterType="java.lang.Integer">
        select
        a.id, a.latitude, a.longitude, b.areaname as area_name, d.name as status_name
        from
        device a, area b, device_status c, status d
        where
        a.area_id = b.aid and a.id = c.device_id and d.id = c.status_id
        and b.areaname in
        ( select areaname from user u,area a,user_area ua where u.id = ua.user_id and a.aid = ua.area_id and u.id = #{id})
    </select>

    <select id="getAreaIdByAreaname" resultType="int">
        select aid from area where areaname = #{areaname}
    </select>

    <resultMap id="BaseResultMap" type="com.yinxiang.raspberry.bean.Area">
        <id property="id" column="aid"/>
        <result column="areaname" property="area_name"/>
        <result column="parentId" property="parentId"/>
        <result column="isparent" property="isparent"/>
        <result column="areapath" property="areapath"/>
        <collection property="children" ofType="com.yinxiang.raspberry.bean.Area" select="com.yinxiang.raspberry.mapper.LocationMapper.getAreaByPid" column="aid">
        </collection>
    </resultMap>
    <select id="getAreaByPid" resultMap="BaseResultMap">
        select a.* from area a where a.`parentId`=#{pid};
    </select>

    <select id="addArea" statementType="CALLABLE">
        call addArea(#{area.area_name,mode=IN,jdbcType=VARCHAR},#{area.parentId,mode=IN,jdbcType=INTEGER},#{area.result,mode=OUT,jdbcType=INTEGER},#{area.id,mode=OUT,jdbcType=INTEGER})
    </select>
    <select id="deleteArea" statementType="CALLABLE">
        call deleteArea(#{area.id,mode=IN,jdbcType=INTEGER},#{area.result,mode=OUT,jdbcType=INTEGER})
    </select>
    <select id="getLeafAreaByParentId" resultMap="BaseResultMap">
        select a.aid,a.areaname from area a where isparent==0 and areapath like concat('%',#{pid},'%')
    </select>

    <!--    &lt;!&ndash;3.新增设备的GPS数据&ndash;&gt;
        <insert id="saveData" parameterType="com.yinxiang.raspberry.bean.Location">
            insert into
            <include refid="Table"></include>
            (<include refid="Column"></include>)
            VALUES
            (#{device_id},#{latitude},#{longitude})
        </insert>

        &lt;!&ndash;4.修改设备的GPS数据&ndash;&gt;
        <update id="modifyData" parameterType="com.yinxiang.raspberry.bean.Location">
            update
            <include refid="Table"></include>
            set
            <if test="latitude!=null">
                latitude = #{latitude},
            </if>
            <if test="longitude!=null">
                longitude = #{longitude},
            </if>
            where
            id = #{device_id}
        </update>

        &lt;!&ndash;5.删除设备的GPS数据&ndash;&gt;
        <delete id="deleteData" parameterType="java.lang.String">
            delete from
            <include refid="Table"></include>
            where
            id = #{device_id}
        </delete>-->
</mapper>