<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinxiang.raspberry.mapper.MstaffMapper">
    <select id="loadUserByUsername" resultType="com.yinxiang.raspberry.model.Mstaff">
        select * from maintenance_staff where LoginName=#{LoginName}
    </select>

</mapper>