<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yinxiang.raspberry.mapper.TempAndHumMapper">
    <resultMap id="TempAndHumMap" type="com.yinxiang.raspberry.bean.TempAndHum">
        <result column="device_id" property="device_id" />
        <result column="create_time" property="create_time" />
        <result column="temperature" property="temperature" />
        <result column="humidity" property="humidity" />
        <result column="fan_state" property="fan_state"/>
        <result column="fan_speed" property="fan_speed"/>
        <result column="auto_flag" property="auto_flag"/>
    </resultMap>

    <!--温度和湿度的列名-->
    <sql id="Column">
        device_id, create_time, temperature, humidity, fan_state, fan_speed, auto_flag
    </sql>
    <!--温度和湿度的表名-->
    <sql id="Table">
        temperature_and_humidity
    </sql>

    <!--1.获取单个设备的历史温湿度数据数目-->
    <select id="findCountById" resultType="java.lang.Long" parameterType="java.lang.String">
        select count(*)
        from
        <include refid="Table"></include>
        where device_id = #{device_id}
    </select>

    <!--2.获取所有设备的历史温湿度数据数目-->
    <select id="findAllCount" resultType="java.lang.Long">
        select count(*)
        from
        <include refid="Table"></include>
    </select>

    <!--3.获取所有设备的最新温湿度数据数目-->
    <select id="findAllCountLatest" resultType="java.lang.Long">
        select count(*)
        from
        (select device_id from <include refid="Table"></include> group by device_id) a
    </select>

    <!--4.获取单个设备的历史温湿度数据并且可分页-->
    <select id="findDataByIdAndPage" resultMap="TempAndHumMap" parameterType="java.util.Map">
        select
        <include refid="Column" />
        from
        <include refid="Table"></include>
        where device_id = #{device_id} order by create_time desc
        limit #{currentPage},#{pageSize}
    </select>

    <!--5.获取单个设备的最新温湿度数据-->
    <select id="findLatestDataById" resultType="com.yinxiang.raspberry.bean.TempAndHum" parameterType="java.lang.String">
        select
        <include refid="Column"></include>
        from
        <include refid="Table"></include>
        where device_id = #{device_id}
        order by create_time desc
        limit 1
    </select>

    <!--6.获取所有设备的历史温湿度数据并且分页-->
    <select id="findAllDataByPage" resultMap="TempAndHumMap" parameterType="java.util.Map">
        select
        <include refid="Column"></include>
        from
        <include refid="Table"></include> limit #{currentPage},#{pageSize}
    </select>

    <!--7.获取所有设备的最新温湿度数据并且分页-->
    <select id="findAllLatestDataByPage" resultMap="TempAndHumMap" parameterType="java.util.Map">
        select a.*
        from
        <include refid="Table"></include>a,
        (select device_id, max(create_time) as create_time from <include refid="Table"></include> group by device_id) b
        where a.create_time = b.create_time and a.device_id = b.device_id
        limit #{currentPage},#{pageSize}
    </select>

    <!--8.新增设备的温湿度数据-->
    <insert id="saveData" parameterType="java.util.Map">
        insert into
        <include refid="Table"></include>
        (<include refid="Column"></include>)
        VALUES
        (#{device_id},#{create_time},#{temperature},#{humidity}, #{fan_state}, #{fan_speed}, #{auto_flag})
    </insert>

    <!--9.修改设备的温湿度数据-->
    <update id="modifyData" parameterType="com.yinxiang.raspberry.bean.TempAndHum">
        update
        <include refid="Table"></include>
        set
        <if test="create_time!=null">
            create_time = #{create_time},
        </if>
        <if test="temperature!=null">
            temperature = #{temperature},
        </if>
        <if test="humidity!=null">
            humidity = #{humidity},
        </if>
        <if test="fan_state!=null">
            fan_state = fan_state,
        </if>
        <if test="fan_speed!=null">
            fan_speed = fan_speed
        </if>
        where
        device_id = #{device_id} and create_time = #{create_time}
    </update>

    <!--10.删除设备的温湿度数据-->
    <delete id="deleteData" parameterType="java.lang.String">
        delete from
        <include refid="Table"></include>
        where
        device_id = #{device_id}
    </delete>

    <!--11.更新风扇转速-->
    <update id="updateFanSpeed"  parameterType="java.util.Map">
        update
        <include refid="Table"/>
        set fan_speed = #{fan_speed}
        where
        device_id = #{device_id}
        and
        create_time = (select create_time from (select create_time from temperature_and_humidity where device_id = 'ns10001' order by create_time limit 1) a)
    </update>
</mapper>