<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinxiang.raspberry.mapper.UserRoleMapper">
    <insert id="addRole">
        <!--insert into user_role(uid,rid) values-->
        <!--<foreach collection="rids" item="mid" separator=",">-->
            <!--(#{uid},#{rid})-->
        <!--</foreach>-->
        insert into user_role(uid,rid) values (#{uid},#{rid})
    </insert>

    <delete id="deleteRoleByUid" parameterType="Integer">
        DELETE FROM user_role WHERE uid=#{uid}
    </delete>

    <select id="getRidByName" resultType="Integer">
        select role.id from role where role.nameZh = #{nameZh}
    </select>

    <select id="getAllRole" resultType="java.lang.String">
        select role.nameZh from role
    </select>
    <delete id="deleteUserAreaByUid">
        delete from user_area ua where ua.user_id = #{uid}
    </delete>
    <!--<insert id="addUserAreaByAreaname">-->
        <!--insert into user_area(user_id,area_id) values (#{uid},(select aid from area where areaname=#{areaname}))-->
    <!--</insert>-->

</mapper>
