<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yinxiang.raspberry.mapper.WaterMapper">
    <resultMap id="WaterMap" type="com.yinxiang.raspberry.bean.Water">
        <result column="device_id" property="device_id" />
        <result column="create_time" property="create_time" />
        <result column="status" property="status" />
    </resultMap>

    <!--水浸数据的列名-->
    <sql id="Column">
        device_id, create_time, status
    </sql>
    <!--水浸数据的表名-->
    <sql id="Table">
        water_status
    </sql>

    <!--1.获取单个设备的历史水浸数据数目-->
    <select id="findCountById" resultType="java.lang.Long" parameterType="java.lang.String">
        select count(*)
        from
        <include refid="Table"></include>
        where device_id = #{device_id}
    </select>

    <!--2.获取所有设备的历史水浸数据数目-->
    <select id="findAllCount" resultType="java.lang.Long">
        select count(*)
        from
        <include refid="Table"></include>
    </select>

    <!--3.获取所有设备的最新水浸数据数目-->
    <select id="findAllCountLatest" resultType="java.lang.Long">
        select count(*)
        from
        (select device_id from <include refid="Table"></include> group by device_id) a
    </select>

    <!--4.获取单个设备的历史水浸数据并且可分页-->
    <select id="findDataByIdAndPage" resultMap="WaterMap" parameterType="java.util.Map">
        select
        <include refid="Column" />
        from
        <include refid="Table"></include>
        where device_id = #{device_id} order by create_time desc
        limit #{currentPage},#{pageSize}
    </select>

    <!--5.获取单个设备的最新水浸数据-->
    <select id="findLatestDataById" resultType="com.yinxiang.raspberry.bean.Water" parameterType="java.lang.String">
        select
        <include refid="Column"></include>
        from
        <include refid="Table"></include>
        where device_id = #{device_id}
        order by create_time desc
        limit 1
    </select>

    <!--6.获取所有设备的历史水浸数据并且分页-->
    <select id="findAllDataByPage" resultMap="WaterMap" parameterType="java.util.Map">
        select
        <include refid="Column"></include>
        from
        <include refid="Table"></include> limit #{currentPage},#{pageSize}
    </select>

    <!--7.获取所有设备的最新水浸数据并且分页-->
    <select id="findAllLatestDataByPage" resultMap="WaterMap" parameterType="java.util.Map">
        select a.*
        from
        <include refid="Table"></include>a,
        (select device_id, max(create_time) as create_time from <include refid="Table"></include> group by device_id) b
        where a.create_time = b.create_time and a.device_id = b.device_id
        limit #{currentPage},#{pageSize}
    </select>

    <!--8.新增设备的水浸数据-->
    <insert id="saveData" parameterType="com.yinxiang.raspberry.bean.Water">
        insert into
        <include refid="Table"></include>
        (<include refid="Column"></include>)
        VALUES
        (#{device_id},#{create_time},#{status})
    </insert>

    <!--9.修改设备的水浸数据-->
    <update id="modifyData" parameterType="com.yinxiang.raspberry.bean.Water">
        update
        <include refid="Table"></include>
        set
        <if test="create_time!=null">
            create_time = #{create_time},
        </if>
        <if test="status!=null">
            status = #{status},
        </if>
        where
        device_id = #{device_id} and create_time = #{create_time}
    </update>

    <!--10.删除设备的水浸数据-->
    <delete id="deleteData" parameterType="java.lang.String">
        delete from
        <include refid="Table"></include>
        where
        device_id = #{device_id}
    </delete>
</mapper>